<ion-header>
  <ion-toolbar>
    <ion-title id="header_reset">Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="background-image: url('assets/img/blurred-blue-gradient-wallpaper-preview.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; padding-top: 1%;">
    <div class="container rounded-4" id="form_reset" style="margin-top: 140px;">
      <form (ngSubmit)="resetPassword()">
        <p style="text-align: center; color: rgb(0, 68, 255);">Restablece tu contraseña aqui. Ingresa tu correo electronico para continuar el proceso.</p>
        <div class="form-group">
          <label for="email">Correo</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div>
        <div style="margin-top: 20px; text-align: center;">
          <button type="submit" class="btn btn-primary">Restablecer</button>
        </div>
        <div style="text-align: right; margin-top: 20px; margin-bottom: -10px;">
          <button type="submit" class="btn" style="background-color: gray; color: white;" [routerLink]="['/login']">Volver</button>
        </div>
      </form>
    </div>
    <!-- <div style="max-width: 200px; margin: auto; margin-top: 3%;">
      <img src="assets/img/Logo_DuocUC.svg.png" alt="">
    </div> -->
  </div>
</ion-content>


