#header_login {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    color: rgb(0, 68, 255);
}

#form_login {
    color: black;
    background-color: white;
    padding: 30px; 
    margin: auto; 
    max-width: 340px;
    border: 3px solid rgb(0, 51, 192);
}

#btn_login {
    text-align: center;
    margin-top: 5%;
}

#form_login {
    margin-top: 5%;
}